<div class="wrapper">
  <!-- <app-nav-menu></app-nav-menu> -->

  <!-- About Section --------------------------------->
  <div class="background">
    <div class="card">
      <div class="row mb-30">
        <div class="col-xs-12 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-2">
          <img class="img-responsive center-block profile mb-30"  src="https://lh3.googleusercontent.com/-yF5YTzOUIKU/VlgEcvt0qKI/AAAAAAAAAv8/BD6uPbbcKhAf9wFLSrlnnA3ndgVmECXPgCEwYBhgLKs0DAL1OcqyKwatpQL_G1XAqnMqV1IWZcXqEqyj94UaGlrhx59JDSntbXHi-wSZZFxIOIujWj7THXDCnZunKYbwrVzoVgif20olePIdsq6D5oKEddBXr-VLfPcscLMdiNnHremKvM7NYTq-xVHMqbRn4_SfZssviytQmWkeGdpQh-QMEcvJj2ZrdlS9rqrqljnyqqYmMdqGBjvuV13W6X9rfrXjTIhfq2EeTyhKjEOK7ZG7yoPS6rbZnUCCXd1FsDQZtzA36G1-RCHZt8SOM1eNPzZ63gPHvQc10fTdz4LLgCtuHrmM9axSQu5iJrO64yNXeIOhnEgpW1LKl6A49Lg-BkuHwry8BShTEu0_NIzt4-FsrcIarhm0TpWhLA9SaFwpLV11uz7D9Oq3KBLSzlnjbF8sy-riYagrrqcQwz3xHM1pCVINDP_B7rHMrkeWIZ4dGsNHQAnDh5UDtHV3imYEyka1sevatjDubvdJxomFGq-M3LIkP3fqxmW-CyGiICaSDZ-XsmooWMyrpK0Z26PCo02R7PVVrdAzRI7hAXYL2yy3hdI7-kCBjyR5XQE_jQH0xye1kVQ_poVlIGsSROG7FROoOiAQgEz3OfQ4HtI0wrfD79QU/w139-h140-p/SDC10572.JPG" alt="Tiffany Du's Profile Photo">
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0 col-lg-6 text-left">
          <h4>Aman Vishal Jain</h4>
          <p id="sub">Information Technology</p>
          <p id="sub">Dwarkadas J. Sanghvi College of Engineering</p>
          <br>
          <p id="desc">Having spent a large chunk of my life in art school, I've finally found my passion at the crossroads of Information Systems and Bussiness. I started off as an undergrad in Information Technology, then worked at different companies majorly focusing on a data analyst role.</p>
            <p id="desc">The one lesson that stood out throughout this journey was the importance of the Information Systems. Whether a physical or digital product, its purpose needs to be obvious, and the product itself has to be easy to use. So no matter what I'm working on, I always have the user in mind and try my hardest to create an enjoyable experience for them.</p>
            <p id="desc">I am looking forward to my education at the University of Arizona and finding new oppurtunies and challenging roles as an analyst at a top company.</p>
          <br>
            <div class="social-icons">
              <button class="button button5">Resume</button>
              <a href="" target="_blank" rel="noopener"><fa-icon [icon]="faGithub" title="Github"></fa-icon></a>      
            <a href="" target="_blank" rel="nnoopener"><fa-icon [icon]="faLinkedin" title="LinkedIn"></fa-icon></a>      
            <a href="" target="_blank" rel="noopener"><fa-icon [icon]="faEnvelope" title="Email"></fa-icon></a>      
           </div>
        </div>
        
      </div>
     
    </div>
    </div>
  <!-- Projects Section ------------------------------>
  <section id="projects"></section>
  <!-- Contact Section ------------------------------->
  <section id="contact"></section>
  <!-- Footer Section -------------------------------->
  <section id="footer"></section>
</div>