section { min-height: 100vh; height: auto; position: relative; font-family: 'Segoe UI', sans-serif; }
a { text-decoration: none; color: black; }


/* -- About Section --------------------------------- */



.card {
  height: auto;
  width: 100%;
  margin-top: 7%;
  background-color: rgba(255,255,255,.8);
  padding: 3rem 1.5rem;
}
h4 {
  font-size: 200%; 
  color: black;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}



.social-icons {
  position: absolute;
}

.social-icons fa-icon {
  font-size: 3rem;
  color:black;
  padding: 7.5px 15px;
  cursor: pointer;
}
.social-icons fa-icon:hover {
  color: #202020;
  background-color: grey;
}
#sub {
  margin: 0 0 0 2px;
  font-size: 150%;
}
#desc {
  margin: 0 0 0 5px;
  font-size: 150%;
}

.row,
footer.row {
  width: 100%;
  height: 100%;
  padding: 30px 30px 60px;
}

.profile {
  border-radius: 50%;
  max-width: 180px;
  padding: 0 15px 0 0;
}
.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7%;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}


/* -- Projects Section ------------------------------ */
#projects { background-color: #f2f2f2;}
 .prtitle{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color:black;
  justify-content: center;

}
.prtitle h1{
  font-size: 3em ;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-title {
  color:black ;
  font-size: 2.5rem;
  font-weight: 500;

}
.project-group-1 {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-group-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10vh;
}
.project-img img {
  color: #f2f2f2;
  height: 325px;
  width: 325px;
  transition: all 0.3s ease-in-out;
}
.project-img img:hover {
  transform: scale(0.97);
  transition: all 0.3s ease-in-out;
}
.project-item {
  background-color: white;
  margin: 15px 7px 7px 15px;
}
.project-title {
  margin-left: 4vh;
  margin-right: 4vh;
  font-weight: 700;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top:1.5vh;
}
.project-title a:hover {
  color: rgb(201,22,22);
  transition: all 0.3s ease-in-out;
}
.github-link {
    margin-left: 4vh;
    margin-bottom: 8vh;
    margin-right: 4vh;
    line-height: 1.6;
    color: #636b6f;
    font-size: 18px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
  
}
.github-link a:hover {
  color: rgb(201,22,22);
  transition: all 0.3s ease-in-out;
}


/* -- Contact Section ------------------------------- */
#contact { background-color: purple; }

/* -- Footer Section -------------------------------- */
#footer {
  background-color: black;
  min-height: unset;
  height: 150px; 
}