<div class="wrapper">
<app-nav-menu></app-nav-menu> 

  <!-- About Section --------------------------------->
  <div class="background">
    <section id="about">
    <div class="card">
      <div class="row mb-30">
        <div class="col-xs-12 col-xs-offset-1 col-md-3  col-md-offset-1 col-lg-2 col-lg-offset-2">
          <img class="img-responsive center-block profile mb-30"  src="../assets/img/jacinto-wong.jpg" alt="Tiffany Du's Profile Photo">
        </div>
        <div class="col-sm-11 col-sm-offset-2 col-md-7 col-md-offset-0 col-lg-7 text-left">
          <h4>Aman Vishal Jain</h4>
          <p id="sub">Information Technology</p>
          <p id="sub">Dwarkadas J. Sanghvi College of Engineering</p>
          <br>
          <p id="desc">Having spent a large chunk of my life in art school, I've finally found my passion at the crossroads of Information Systems and Bussiness. I started off as an undergrad in Information Technology, then worked at different companies majorly focusing on a data analyst role.</p>
            <p id="desc">The one lesson that stood out throughout this journey was the importance of the Information Systems. Whether a physical or digital product, its purpose needs to be obvious, and the product itself has to be easy to use. So no matter what I'm working on, I always have the user in mind and try my hardest to create an enjoyable experience for them.</p>
          <br>
            <div class="social-icons">
              <button class="button button5">Resume</button>
              <a href="" target="_blank" rel="noopener"><fa-icon [icon]="faGithub" title="Github"></fa-icon></a>      
            <a href="" target="_blank" rel="nnoopener"><fa-icon [icon]="faLinkedin" title="LinkedIn"></fa-icon></a>      
            <a href="" target="_blank" rel="noopener"><fa-icon [icon]="faEnvelope" title="Email"></fa-icon></a>      
           </div>
        </div>
      </div> 
    </div>
  </section>
    </div>
  <!-- Projects Section ------------------------------>
  <section id="projects">
    <div class="prtitle"><h1 class="projects-title"> Project Work</h1>
    </div>
    <div class="projects">
      <div class="project-group-1">
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacinto.design"><img src="../assets/img/project-1.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacinto.design">Blockchain in Real Estate</a></h4>
            <div class="github-link"> Node.js | Solidity | IPFS | MongoDb</div>
          </div>
          
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacinto.design"><img src="../assets/img/project-1.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacinto.design">Project Title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacinto.design"><img src="../assets/img/project-1.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacinto.design">Project Title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View Github Repository">Github</a></h6>
          </div>
        </article>
      </div>
      <div class="project-group-2">
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacinto.design"><img src="../assets/img/project-1.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacinto.design">Project Title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacinto.design"><img src="../assets/img/project-1.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacinto.design">Project Title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://jacinto.design"><img src="../assets/img/project-1.png" alt="Project"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="https://jacinto.design">Project Title</a></h4>
            <h6 class="github-link"><a href="https://github.com" title="View Github Repository">Github</a></h6>
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- Contact Section ------------------------------->
  <section id="contact"></section>
  <!-- Footer Section -------------------------------->
  <section id="footer"></section>
</div>